* {
  margin: 0;
}
body {
  background: rgb(247, 245, 245);
}

.heading {
  padding: 10px 10px;
  font-size: 30px;
  color: rgb(78, 76, 76);
}

.nav {
  top: 0;
  margin: 0;
  background: rgb(241, 241, 241);
  box-shadow: 1px 0px 5px black;
}
section {
  border-left: 1px solid rgb(90, 90, 90, 0.5);
  border-right: 1px solid rgb(90, 90, 90, 0.5);
  right: 0;
  left: 0;
  height: 100%;
  width: 45vw;
  margin: 0 auto;
  background-color: rgb(245, 245, 245, 0);
}
.card {
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background: rgb(241, 241, 241);
  margin: 20px;
  padding: 15px 30px;
  box-shadow: 1px 1px 5px black;
}
.card-heading {
  margin: 10px;
  font-size: 20px;
  color: rgb(90, 90, 90);
}
.card-date {
  color: rgb(90, 90, 90);
  font-size: 12px;
}
.user-image img {
  height: 45px;
  width: 45px;
}

.card-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
}
.like {
  padding: 10px;
  color: rgb(90, 90, 90);
}
.card-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90%;
  height: 60%;
}

.card-footer img {
  height: 30px;
}
.card-body {
  color: rgb(90, 90, 90);
}
.card-footer {
  display: flex;
  padding: 5px;
  margin: 10px;
  flex-direction: row;
}
ul {
  text-align: right;
  list-style: none;
}
.popup a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

input {
  color: rgb(245, 245, 245);
  padding: 10px;
  margin: 10px auto;
  border: none;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
  color: rgb(245, 245, 245);
  padding: 10px;
  margin: 10px auto;
  border: none;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 5px;
}
.card-menu {
  position: absolute;
  float: right;
  right: 0;
}
.menu-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 0px;
}
.popup {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(41, 41, 41, 0.8);
  margin: 10px 0px;
  color: rgb(90, 90, 90);
  font: 20px;
}
.popup li {
  padding: 10px;
}
ul {
  padding: 0;
}
.button-row {
  display: flex;
  flex-direction: row;
}

.editfooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editfooter a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px 25px;
  background-color: grey;
}
.editfooter input {
  width: 100px;
  background-color: grey;
}
/* 
.editphoto {
  /* justify-self: center; */
/* position: absolute;
  left: 100rem; */
/* } */
.editphoto img {
  width: 50%;
  height: 20vh;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  section {
    width: 100vw;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  section {
    width: 80vw;
  }
  input {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
}
