{% extends 'base.html' %}{% block content %} {% load static %}
<section>
  <div class="card">
    <form action="/" method="POST" enctype="multipart/form-data">
      {%csrf_token %}
      <input type="text" name="name" placeholder="Name" required />
      <input name="body" rows="3" placeholder="Tell us anything" required></input>
      <input type="file" name="image" />
      <input type="submit" value="Post" />
    </form>
  </div>
  {% for tweet in tweets %}
  <div class="card">
    <div class="card-header">
        <img class="menu-icon" src="{% static 'img/menu.png' %}" alt="">
      <div class="popup">
        <ul>
          <li><a href="/edit/{{ tweet.id }}"> Edit</a></li>
          <li><a href="/delete/{{ tweet.id }}"> Delete</a></li>
        </ul>
      </div>
      <div class="user-image">
        <img src="{% static 'img/user.png'%}" alt="" />
      </div>
      <div class="card-heading">
        {{ tweet.name }}
        <div class="card-date">{{tweet.created_at}}</div>
      </div>
    </div>
    <div class="card-body">{{ tweet.body }}</div>
    {% if tweet.image.url %}
    <div class="card-image">
      <img src="{{ tweet.image.url }}" alt="" />
    </div>
    {% endif %}
    <div class="card-footer">
      <a href="/like/{{ tweet.id }}">
        <img src="{% static 'img/like.png' %}" alt="" />
      </a>
      <div class="like">{{ tweet.like_count}} Like</div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
<!-- 
    <div>
  {% for tweet in tweets %} {{tweet.name}} {{tweet.body}} <br />
  <img src="{{ tweet.image.url }}" alt="" />
  {{tweet.image}} {{tweets.like_count}} {{tweet.created_at}} <br />
  {% endfor %}
</div>
 -->

